<?xml version="1.0"?>
<launch>
	<!-- Environnement -->
	<include file="$(find minilab_simulation)/launch/minilab_simulation.launch" />
	<!-- map_server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find mapping)/map/map.yaml" />
    <!-- Explorer -->
    <node pkg="mapping" type="map_loader" name="loader" output="screen" />
</launch>